@use "_colors" as colors;

.container {
    background-color: colors.$purple;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.landing-box {
    background-color: colors.$dark-violet;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.body-text, .landing-header {
    color: colors.$pastel-purple;
}

.App-link {
    color: #61dafb;
}
